@import url("https://fonts.googleapis.com/css?family=Lato|Poller+One&display=swap");

img {
  align-self:center;}


@font-face {
  font-family: "SF Distant Galaxy";
  src: url("SFDistantGalaxy.ttf") format("truetype");
}
/* phone */
body {
  background-color: #d1a2b8;
}

h1 {
  font-family: "SF Distant Galaxy";
} div {
  display: flex;
flex-direction: column;
}
.img {
  flex-direction: column;
  justify-content: center;
  ;
  }

  .im {
    display: flex;
    flex-direction: column;
    justify-content: center;
    ;
  }

  .imge {display: flex;
  flex-direction: column;
justify-content: center;}

/* computer */

@media screen and (min-width: 900px) {
  body {
    background-color: rgb(185, 121, 142);
  }

  div {
    display: flex;
  flex-direction: row;
  }
  .img {
    flex-direction: row;
    justify-content: center;
    ;
    }

    .im {
      display: flex;
      flex-direction: row;
      justify-content: center;
      ;
    }

    .imge {display: flex;
    flex-direction: row;
  justify-content: center;
;}

.texts {display: flex;
flex-direction: row;
align-items: center;}
}

