@import url("https://fonts.googleapis.com/css?family=Lato|Poller+One&display=swap");

img {
  align-self:center;}

  { .img 
    display: flex;
  justify-content: space-evenly;
  }

@font-face {
  font-family: "SF Distant Galaxy";
  src: url("SFDistantGalaxy.ttf") format("truetype");
}
/* phone */
body {
  background-color: #d1a2b8;
}



h1 {
  font-family: "SF Distant Galaxy";
}



/* computer */


@media screen and (min-width: 900px) {
  body {
    background-color: rgb(185, 121, 142);
  }

  div {
    display: flex;
  flex-direction: row;
  }



}

